.topnav {
    overflow: hidden;
    background-color: #D54513;
    position: relative;
    margin: 0px;
    padding: 16px 15%;
    border-bottom: 4px solid rgb(192, 62, 18);
    font-size: 28px;
    color: #FFF;
    text-decoration: none;
  }